.footer {
  background-color: #5c1222;
  color: #ffffff;
  text-align: center;
  padding: 50px 20px;
}

.footer h3 {
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-socials a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #8c1d33;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6c97a;
  font-size: 18px;
  transition: all 0.25s ease;
}

.footer-socials a:hover {
  background-color: #f6c97a;
  color: #8c1d33;
  transform: translateY(-4px);
}

.footer p {
  font-size: 14px;
  opacity: 0.85;
}


.footer-logo {
  height: 50px;
  margin-bottom: 12px;
  width: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.footer-logo:hover{
  transform: scale(1.06);
  filter: drop-shadow(0 0 12px rgba(245, 208, 138, 0.8));
}
