.gallery {
  padding: 100px 60px;
  background-color: #fdecee;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 220px;
  object-fit:cover;
  transition: transform 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.08);
}

/* ===== MODAL ===== */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.modal-image {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 20px;
}

/* Close button */
.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 32px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/* Navigation buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.nav-btn.left {
  left: -60px;
}

.nav-btn.right {
  right: -60px;
}
