/* .hero {
  min-height: calc(100vh - 80px);
  background: linear-gradient(
      rgba(140, 29, 51, 0.6),
      rgba(140, 29, 51, 0.6)
    ),
    #fdecee;
  display: flex;
  align-items: center;
  padding: 0 60px;
} */

/* .hero {
  min-height: calc(100vh - 80px);
  background-image:
    linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
    ),
    url("../assets/hero.jpg");

  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
  background-color: #8c1d33;

  display: flex;
  align-items: center;
  padding: 0 60px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #f6c97a;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ffffff;
  line-height: 1.6;
}

.hero-btn {
  background-color: #f6c97a;
  color: #8c1d33;
  border: none;
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hero-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
} */



.hero {
  min-height: calc(100vh - 80px);
  background: linear-gradient(
    135deg,
    #6f1026,
    #8c1d33
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  gap: 60px;
  overflow: hidden;
}

/* მარცხენა ტექსტი */
.hero-content {
  max-width: 520px;
  z-index: 2;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #f6c97a;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ffffff;
  line-height: 1.6;
}

/* ღილაკი */
.hero-btn {
  background-color: #f6c97a;
  color: #8c1d33;
  border: none;
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

/* მარჯვენა სლაიდერი */
.hero-slider {
  position: relative;
  width: 420px;
  height: 620px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.45);
}

/* ყველა ფოტო */
.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

/* აქტიური ფოტო */
.hero-image.active {
  opacity: 1;
  transform: translateY(0);
}

